/* ------ CSS RESET ----- */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* ------ Main Styling ------*/

body {
    width: 80%;
    max-width: 670px;
    margin: auto;
    background-color:floralwhite;
    color: black;
    font-family:serif
} 

/* ----------- typography ------------ */

h1, h2, h3 {
    font-weight: normal;
    color: crimson;
    text-align: center
}

p, li, blockquote {
    margin-bottom: 1.53em;
    line-height: 1.5em
}

h1 {
    color: black;
    font-size: 3.998em;
    margin-top: 1em;
    margin-bottom: 1em
}

blockquote {
    hanging-punctuation: first;
    text-indent: -0.5em
}

h2 {
    font-size: 2.827em;
    margin: 1em 0;
    margin-top: 0.5em;
    padding-top: 0.1em
    
}

h3 {
    font-size: 1.999em;
    margin-bottom: 1em
}

header h3 {
    font-style: italic;
    font-size: 2.35em;
    margin-top: 1em;
    color: crimson;
    padding-bottom: 0.5px
}

.P::first-letter {
    font-size: 4em;
    height: 20px;
    line-height: 30pt;
    position: relative;
    display: block;
}


/*------ Styling Links ------*/

a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    color:black;
    border-bottom: 1px dotted;
}

/*--------- Navigation --------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: crimson;
    padding: 1em 0;
    font-size: 0.75em
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px
        
}

nav ul li{
    display: inline;
    margin: 20px
}

nav a:link{color: #fff}

nav a:visited {color: #fff}

nav a:hover {border-bottom: none;
    color: #000}

/* ---------- Block ------------ */

blockquote {
    padding: 1em 0 4em 0;
    font-size: 1.75;
    line-height: 1.3;
    color:gray
}

blockquote cite {
    font-size: 0.75em
}

/* ------------- images ---------- */

img {
    display: block;
    margin: 4em auto;
    padding: 0; 
    max-width: 100%
}

/* ---------- Table------------*/

table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
}

caption {
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

th {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #c06;
}

th, td {
    padding: .8em;
}

table, td {
    background: #BFBEBB;
    border: 2px solid #fff;
}

/* ------------- footer -------------*/

footer {
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 2em 0 4em
}

footer hr {
    margin: 3em;
}

.connections {
    position: relative;
    margin: 0 auto;
    margin: 20px, 0;
}

.connections ul {
    margin: 0;
    padding: 0;
}

.connections li {
    margin: 0 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.connections img {
    opacity: 0.5;
    border: none;
}

.connections a:hover img {
    opacity: 1.0;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
} 

hr {
    margin: 1em 0;
    height: 1px;
    background-color: #c06;
    color: #c06;
    border: 0 none
}







